body {
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image: url("images/pokertable.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    margin-top: 370px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transform: scale(200%);
    }
    
.Verification {
    margin-top: 120px;
    text-align: center;
}

h1 {
    margin: 0;
    text-align: center;
    color: goldenrod;
    position: relative;
}

#message-el {
    font-style: italic;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 2%;
    cursor: pointer;
}